.wrapper {
  padding: 20px;
  width: 100%;
  max-width: 700px;
  background-color: #3b3b3b;
  border-radius: 16px;
  color: #ffffff;
}

.img {
  width: 100%;
  max-width: 660px;
  height: 100%;
  max-height: 412px;
  border-radius: 8px;
}

.title {
  font-size: 36px;
  font-weight: 500;
}

.stack {
  padding-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.tech {
  padding: 8px 16px;
  background-color: #4b4b4b;
  font-size: 16px;
  border-radius: 8px;
}

.status {
  padding-top: 8px;
  font-size: 24px;
  color: #EF4444;

  &__completed {
    color: #22C55E;
  }
}

@media screen and (max-width: 470px) {

  .wrapper {
    max-width: 340px;
  }

  .title {
    font-size: 28px;
  }

  .status {
    font-size: 20px;
  }

  .tech {
    font-size: 14px;
  }
}