.wrapper {
  position: relative;
  width: 220px;
  height: 220px;
  background-color: #3b3b3b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .15s all linear;
  
  &:hover {
    transform: scale(102%);
  }

  & > img {
    width: 100px;
    height: auto;
    max-height: 100px;
  }
}

.inprogress {
  opacity: .4;
  filter: grayscale(1);
}

.title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.progress {
  padding: 8px;
  position: absolute;
  top: 80px;
  font-size: 24px;
  color: #ffffff;
  background-color: #232323;
  border-radius: 8px;
  z-index: 1000;
}

@media screen and (max-width: 740px) {
  .wrapper {
    width: 48%;
  }
}

@media screen and (max-width: 540px) {
  .wrapper {
    width: 220px;
  }
}